:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #0f0f0f;
    background-color: #f6f6f6;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body .container:last-of-type {
    flex-grow: 1;
    padding-bottom: -10vh;
}

/*
* Modal Stuff
*/

#modal-bg {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    color: black;
}

#modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/*
* Container Stuff
*/

.container {
    flex: none;
    margin: 0;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

div#bottom-panel {
    display: inline;
    flex-grow: 1;
}

.row {
    display: flex;
    justify-content: center;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

h1 {
    text-align: center;
}

#instances {
    overflow-x: auto;
    white-space: nowrap;
}

.fancy-bg {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin: 0 0.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #0f0f0f;
    background-color: white;
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    outline: none;
}

div.instance-box {
    display: inline-block;
    margin: 0.2em;
}

button {
    cursor: pointer;
}

button:hover {
    border-color: #396cd8;
}

button:active {
    border-color: #396cd8;
    background-color: #e8e8e8;
}

#newinst-input {
    padding-right: 2em;
    margin-right: 5px;
}

.noselect {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.x-btn {
    text-align: right;
    font-size: 3em;

    cursor: pointer;
}

#edit-instance-titlebar>* {
    flex: 1;
}

input[type="checkbox"] {
    height: 100%;
    padding: auto;
}

button.btn-play {
    background-color: green;
    color: white;
}

button.btn-edit {
    background-color: rebeccapurple;
    color: white;
}

button.btn-cancel {
    background-color: #cfcfcf;
    color: black;
}

button#btn-delete,
button.btn-delconf {
    background-color: #8c0b0b;
    color: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        color: #f6f6f6;
        background-color: #2f2f2f;
    }

    a:hover {
        color: #24c8db;
    }

    .fancy-bg {
        background-color: #0f0f0f98;
        color: white;
    }

    select.fancy-bg {
        color: initial;
    }

    button:active {
        background-color: #0f0f0f69;
    }
}
